
.efecto-letras {
    animation: cambio-color 2s infinite;
  }
  
  @keyframes cambio-color {
    0% {
      color: red;
    }
    50% {
      color: blue;
    }
    100% {
      color: green;
    }
  }